<!-- Example: components/problem_validation.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problem Validation - Martec Inc</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../about.html">About Me</a></li>
            <li><a href="../final_project.html">Final Project</a></li>
        </ul>
    </nav>

    <!-- Page Content -->
    <main>
        <h1>Component 2: Problem Validation</h1>
        <p>Content for Problem Validation will be added here.</p>
    </main>
</body>
</html>
